Port 2222
ListenAddress 0.0.0.0
AddressFamily any
PidFile /tmp/kai-sshd.pid
AuthorizedKeysFile /home/kai/.ssh/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin no
PermitEmptyPasswords no
PubkeyAuthentication yes
AuthenticationMethods publickey
UsePAM no
AllowUsers kai
StrictModes yes
X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding yes
GatewayPorts no
PermitTunnel no
PermitUserEnvironment no
PermitUserRC no
ClientAliveInterval 60
ClientAliveCountMax 3
MaxAuthTries 3
MaxSessions 8
LoginGraceTime 30
LogLevel VERBOSE
Subsystem sftp internal-sftp
